

*{
  font-family: Poppins;
  background-color: #f6f6f6;
  color: #272727;
  padding: 0;
  margin: 0;
}

.container{
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button1{
  cursor: pointer;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  color: white;
  background-color: blue;
}

.button2{
  cursor: pointer;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  color: white;
  background-color: red;
}

.buttons-div{
  justify-content: space-evenly;
  padding: 10px;
  width: 100%;
  display: flex;
  align-items: center;
  border-width: 0.5px;
  border-color: #272727;
  border-style: solid;
}

.button-div-one,
.button-div-two{
  border-radius: 5px;
  padding: 7px;
  border-width: 0.5px;
  border-color: #272727;
  border-style: solid;
}

.inner-one{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height:  fit-content;
  padding: 10px;
  border-left: 0.5px #272727 solid ;
  border-right:  0.5px #272727 solid;
  border-bottom:  0.5px #272727 solid;
}

